@import 'global.css';

#activityTableTitle {
    -fx-background-radius: 15 15 0 0;
    -fx-background-color: -darkCyan;
    -fx-pref-height: 40;
    -fx-font-size: 20;
    -fx-padding: 0 0 0 0;
}

.table-view:focused {
    outline: transparent;
}

.table-view .table-column {
    -fx-alignment: CENTER;
}

.table-view .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.table-view:focused {
    -fx-padding: 1;
}

.table-view .table-row-cell:odd {
    -fx-background-color: -lightBlue;
}

.table-view .table-row-cell:even {
    -fx-background-color: -lightishBlue;
}

.table-view .table-row-cell:hover {
    -fx-background-color: -buttonColorHoverBlue;
}

.table-view .scroll-bar * {
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.table-view .table-row-cell {
    -fx-cell-size: 40;
    -fx-font-size: 20;

    -fx-font-weight: bold;
}

#activityId {
    -fx-border-width: 0;
}

Button {
    -fx-background-color: -greenish;
    -fx-background-radius: 40;
    -fx-pref-height: 30;
    -fx-padding: 0 60 0 60;
    -fx-font-size: 14;

    -fx-focus-color: transparent;
}

TextField {
    -fx-pref-height: 30;
}