@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
    -greenish: #02C39A;
    -buttonColorHoverGreen: #01b975;
    -topBarColor: #05668D;
    -topBarBackgroundColor: #B4D1DD;
    -darkCyan: #028090;
    -buttonColorHoverDark: #027383;
    -lightishBlue: #5CB4BF;
    -buttonColorHoverBlue: #57a9b4;
    -lightBlue: #81C0C8;

    -dropshadow: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);

    -fx-text-fill: white;
    -fx-font-family: 'Roboto Regular', sans-serif;
}

.root {
    -fx-background-color: white;
}

#popUpContainer {
    -fx-effect: -dropshadow;
}

#tooltip {
    -fx-background-color: -lightBlue;
    -fx-font-size: 15;
    -fx-effect: -dropshadow;
}

/*:focused {*/
/*    -fx-background-insets: 0 0 -1 0;*/
/*}*/

#topBar {
    -fx-background-color: -topBarColor;
    -fx-fill: -topBarColor;
    -fx-pref-height: 80;
}

TextField {
    -fx-pref-height: 60;

    -fx-background-radius: 40;
    -fx-padding: 0 30 0 30;
    -fx-background-color: -greenish;

    -fx-prompt-text-fill: #DEECE9;

    -fx-font-size: 28;
    -fx-focus-color: transparent;
}

Button {
    -fx-background-color: -greenish;
    -fx-background-radius: 40;
    -fx-pref-height: 60;
    -fx-padding: 0 60 0 60;
    -fx-font-size: 28;

    -fx-focus-color: transparent;
}

ScrollPane {
    -fx-background-color: transparent;
    -fx-background-radius: 40;
    -fx-hbar-policy: NEVER;
    -fx-vbar-policy: NEVER;
    -fx-pref-height: 132;
    -fx-pref-width: 444;
}

ScrollPane > .viewport {
    -fx-background-color: transparent;
}

.clickableDark {
    -fx-background-color: -darkCyan;
}

.clickableBlue {
    -fx-background-color: -lightishBlue;
}

.clickableGreen:hover {
    -fx-background-color: -buttonColorHoverGreen;
}

.clickableDark:hover {
    -fx-background-color: -buttonColorHoverDark;
}

.clickableBlue:hover {
    -fx-background-color: -buttonColorHoverBlue;
}

.clickableGreen:pressed, .clickableDark:pressed, .clickableBlue:pressed {
    -fx-effect: -dropshadow;
}

.clickableGreen, .clickableDark, .clickableBlue {
    -fx-cursor: hand;
}

TextField.clickableGreen {
    -fx-cursor: text;
}

TextField.clickableGreen:focused {
    -fx-background-color: -buttonColorHoverGreen;
}

TextField.clickableGreen:pressed {
    -fx-effect: none;
}

#trophy, #back {
    -fx-pref-height: 80;
    -fx-pref-width: 80;
    -fx-padding: 0;
    -fx-background-color: transparent;

    -fx-background-size: 75%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
    -fx-background-image: url('../icons/trophy-solid.png');
}

#back {
    -fx-background-image: url('../icons/angle-left-solid.png');
}

#trophy:hover, #back:hover {
    -fx-opacity: 0.8;
}

.error {
    -fx-fill: crimson;
    -fx-font-size: 15;
    -fx-font-family: 'Roboto Regular', sans-serif;
}