@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
    -greenish: #02C39A;
    -buttonColorHover: #02B070;
    -topBarColor: #05668D;
    -topBarBackgroundColor: #B4D1DD;
    -darkCyan: #028090;
    -lightishBlue: #5CB4BF;
    -lightBlue: #81C0C8;

    -dropshadow: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);

    -fx-text-fill: white;
    -fx-font-family: 'Roboto Regular', sans-serif;

}

#tooltip {
    -fx-background-color: -lightBlue;
    -fx-font-size: 15;
    -fx-effect: -dropshadow;
}

/*:focused {*/
/*    -fx-background-insets: 0 0 -1 0;*/
/*}*/

#topBar {
    -fx-background-color: -topBarColor;
    -fx-fill: -topBarColor;
    -fx-pref-height: 80;
}

TextField {
    -fx-pref-height: 60;

    -fx-background-radius: 40;
    -fx-padding: 0 30 0 30;
    -fx-background-color: -greenish;

    -fx-prompt-text-fill: #DEECE9;

    -fx-font-size: 28;
    -fx-focus-color: transparent;
}

#timerBar {
    -fx-background-color: -topBarBackgroundColor;
    -fx-height: 80;
}

Button {
    -fx-background-color: -greenish;
    -fx-background-radius: 40;
    -fx-pref-height: 60;
    -fx-padding: 0 60 0 60;
    -fx-font-size: 28;

    -fx-focus-color: transparent;
}

.clickable {
    -fx-cursor: hand;
}

.clickable:hover {
    -fx-background-color: -buttonColorHover;
}

/*.clickable:pressed {*/
/*    -fx-effect: -dropshadow;*/
/*}*/
