@import 'global.css';
@import 'smallLeaderboard.css';

* {
    -firstPlace: gold;
    -secondPlace: silver;
    -thirdPlace: chocolate;
}

Button {
    -fx-background-color: -greenish;
    -fx-background-radius: 40;
    -fx-pref-height: 45;
    -fx-padding: 0 60 0 60;
    -fx-font-size: 20;

    -fx-focus-color: transparent;
}

#leaderboard {
    -fx-padding: 50;
}

.leaderboardBox {
    -fx-pref-height: 50;
    -fx-text-alignment: justify;
    -fx-padding: 0 20 0 20;
}

.leaderboardText {
    -fx-fill: white;
    -fx-font-family: 'Roboto Bold', sans-serif;
    -fx-font-size: 28;
}
