@import 'global.css';

TextField, Button {
    -fx-pref-width: 78;
    -fx-pref-width: 200;
}

#mainPart {
    -fx-padding: 50 0 0 0;
}

.table-view {
    -fx-background-color: -lightBlue;
    -fx-background-radius: 15px;
}

.table-view .column-header-background {
    -fx-background-color: -topBarColor;
    -fx-background-radius: 15 15 0 0;
    -fx-pref-height: 40;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-font-size: 26;
    -fx-font-family: 'Roboto Bold', sans-serif;
}

.table-row-cell {
    -fx-pref-height: 40;
}

.table-view .table-row-cell {
    -fx-cell-size: 40;
    -fx-font-size: 20;
    -fx-font-family: 'Roboto Bold', sans-serif;
}

.table-view .scroll-bar * {
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.table-view .table-column {
    -fx-alignment: CENTER;
}

.table-row-cell:odd {
    -fx-background-color: -lightBlue;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:even {
    -fx-background-color: -lightishBlue;
    -fx-background-insets: 0, 0 0 1 0;
}