@import 'global.css';
@import 'helpMenu.css';

TextField, Button {
    -fx-pref-width: 370;
    -fx-max-width: 370;
}

#trophyBox, #helpBox {
    -fx-padding: 0 0 0 10;
    /*-fx-border-insets: 0 0 0 20;*/
    /*-fx-background-insets: 0 0 0 20;*/
}

#helpBox {
    -fx-padding: 0 0 0 15;
    /*-fx-border-insets: 0 0 0 25;*/
    /*-fx-background-insets: 0 0 0 25;*/
}

#trophy {
    -fx-pref-height: 80;
    -fx-pref-width: 80;

    -fx-padding: 0;
    -fx-background-color: transparent;

    -fx-background-size: 75%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
    -fx-background-image: url('../icons/trophy-solid.png');
}

#trophy:hover {
    -fx-opacity: 0.8;
}

.circle {
    -fx-padding: 0 0 0 0;
    -fx-pref-width: 60;
    -fx-pref-height: 60;

    -fx-background-size: 75%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}

.smallCircle {
    -fx-pref-width: 60;
    -fx-pref-height: 60;
}

#help {
    -fx-background-image: url('../icons/circle-question-solid.png');
}

#title {
    -fx-fill: -darkCyan;
    -fx-font-size: 100;
    -fx-font-family: 'Roboto Black', sans-serif;
}

.error {
    -fx-fill: crimson;
    -fx-font-size: 15;
    -fx-font-family: 'Roboto Regular', sans-serif;
}