@import 'global.css';

.answerButton {
    -fx-background-color: -lightishBlue;
    -fx-background-radius: 20;
    -fx-pref-height: 129;
    -fx-pref-width: 441;
    -fx-padding: 10;

    -fx-focus-color: transparent;
}

.Button:hover {
    -fx-opacity: 0.7;
}

#questionContainer {
    -fx-background-color: -darkCyan;
    -fx-background-radius: 10;
    -fx-pref-height: 123;
    -fx-padding: 10;
}

TextArea {
    -fx-background-color: -lightishBlue;
}