@import 'global.css';

Button {
    -fx-background-color: -lightishBlue;
    -fx-background-radius: 20;
    -fx-pref-height: 300;
    -fx-pref-width: 300;
    -fx-padding: 0 60 0 60;

    -fx-focus-color: transparent;
}

ScrollPane {
    -fx-pref-height: 385;
    -fx-pref-width: 302;
}

VBox {
    -fx-background-color: -lightishBlue;
    -fx-background-radius: 20;
    -fx-pref-height: 300;
    -fx-pref-width: 300;
    -fx-padding: 0;

    -fx-focus-color: transparent;
    -fx-text-fill: white;
}

Text {
    -fx-padding: 10;
    -fx-font-size: 24;
}

.Button:hover {
    -fx-opacity: 0.7;
}

TextField {
    -fx-background-color: -darkCyan;
    -fx-background-radius: 10;
    -fx-pref-height: 123;
    -fx-pref-width: 1002;
    -fx-padding: 0 60 0 60;
    -fx-text-fill: white;
}

TextArea {
    -fx-background-color: -lightishBlue;
}