#leaderboardTitle {
    -fx-background-radius: 15 15 0 0;
    -fx-background-color: -darkCyan;
    -fx-pref-height: 40;
    -fx-font-size: 20;
    -fx-padding: 0 0 0 0;
}

#leaderboardBottom {
    -fx-background-radius: 0 0 15 15;
    -fx-background-color: -darkCyan;
    -fx-pref-height: 20;
    -fx-font-size: 20;
}

.table-view:focused {
    outline: transparent;
}

.table-view .table-column {
    -fx-alignment: CENTER;
    -fx-border-width: 0;
}

.table-view .column-header {
    -fx-background-color: -buttonColorHoverDark;
    -fx-font-weight: none;
}

.table-view .arrow {
    -fx-background-color: white;
}

.table-view:focused {
    -fx-padding: 1;
}

.table-view .table-row-cell:odd {
    -fx-background-color: -lightBlue;
}

.table-view .table-row-cell:even {
    -fx-background-color: -lightishBlue;
}

.table-view .scroll-bar * {
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;

    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
}

.table-view .table-row-cell {
    -fx-cell-size: 40;
    -fx-font-size: 20;
}